.como{
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: white;
}
body{
    text-align: center;
    margin-top: 60px;
    background: linear-gradient(to right, black, #ffdbdb);   
}
.ouve img{
    height: 30px;
    width: 130px;
    margin-top: -25px;
    padding-left: 1240px;
    display: flex;
}